body														{
	font-family												:  Arial, Helvetica, sans-serif;
}
form														{
	border													:  3px solid #f1f1f1;
}
input[type=text], input[type=password]						{
	width													:  100%;
	padding													:  12px 20px;
	margin													:  8px 0;
	display													:  inline-block;
	border													:  1px solid #ccc;
	box-sizing												:  border-box;
}
button														{
	background-color										:  #f19c18;
	color													:  black;
	width													:  100%;
	padding													:  14px 20px;
	margin													:  8px 0;
	border													:  none;
	border-radius											:  27px;
}
.imgcontainer												{
	text-align												:  center;
	margin													:  24px 0 12px 0;
}
img.logo													{
	width													:  73%;
}
.container													{
	padding													:  16px;
}
span.error													{
	color													:  red;
	display													:  none;
}
